<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StarMicronics.SMCloudServices.Desktop" version="1.1.1" targetFramework="net35" />
  <package id="StarMicronics.StarIO.Desktop" version="2.6.0" targetFramework="net35" />
  <package id="StarMicronics.StarIOExtension.Desktop" version="1.6.0" targetFramework="net35" />
</packages>